<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app" style="text-align: center;">
            <p><button v-if = "button1_show" @click="click1" v-bind:title="count1 % 10">{{ button1_message }}</button></p>
            <p><button v-if = "button2_show" @click="click2" v-bind:class="{ disguised: button2_disguised }">{{ button2_message }}</button></p>
            <table v-if = "table1_show" style="margin: auto;table-layout: fixed; width: 250px;">
                <tr v-for="row in 3" style="height: 30px;">
                    <td v-for="cell in 3">
                        <button v-if="table1_showbuttons[cell+row*3-4]" @click="click3(cell+row*3-4)">{{ table1_messages[cell+row*3-4] }}
                    </td>
                </tr>
            </table>
        </div>
        <script src="script.js"></script>
    </body>
</html>
